{% extends "base.html" %}

{% block title %} Register Team {% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6 col-sm-7  col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
        <div>
        {% for category, message in get_flashed_messages(with_categories=true) %}
          <div class="alert alert-dismissible alert-{{ category }}">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ message }}
          </div>
        {% endfor %}
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Register Team</h3>
          </div>
          <div class="panel-body">
            <form class="form-horizontal" method="post" action="{{ url_for('auth.register') }}">
            {{ form.csrf_token }}
              <fieldset>
                <div class="form-group col-lg-10">
                  {{ form.name(class='form-control', placeholder='Team Name', autocomplete='off', required=True) }}
                </div>
                <div class="form-group col-lg-10">
                  {{ form.password(class='form-control', placeholder='Password', required=True) }}
                </div>
              </fieldset>
              <br>

              <fieldset>
                <h5>Member One</h5>
                <div class="form-group col-lg-10">
                  {{ form.member_one_name(class='form-control', placeholder='Name', required=True, autocomplete='off') }}
                </div>
                <div class="form-group col-lg-10">
                  {{ form.member_one_phone(class='form-control', placeholder='Phone Number', required=True,
                        autocomplete='off', type='number') }}
                </div>
                <div class="form-group col-lg-10">
                  {{ form.member_one_id(class='form-control', placeholder='College ID', autocomplete='off') }}
                </div>
              </fieldset>
              <fieldset>
                <h5>Member Two</h5>
                <div class="form-group col-lg-10">
                  {{ form.member_two_name(class='form-control', placeholder='Name', autocomplete='off') }}
                </div>
                <div class="form-group col-lg-10">
                  {{ form.member_two_phone(class='form-control', placeholder='Phone Number',
                        autocomplete='off', type='number') }}
                </div>
                <div class="form-group col-lg-10">
                  {{ form.member_two_id(class='form-control', placeholder='College ID', autocomplete='off') }}
                </div>
              </fieldset>

              <fieldset>
                <div class="form-group col-lg-10">
                  {{ form.submit(class='btn btn-primary') }}
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
