.env
.idea
*.sqlite
__pycache__
app/__pycache__
app/__init__.pyc
app/auth/__init__.pyc
app/auth/forms.pyc
app/auth/routes.pyc
app/mcq/__init__.pyc
app/mcq/routes.pyc
app/models.pyc
config.pyc
app/.__init__.py.swp
app/.models.py.swp
app/auth/.__init__.py.swp
app/auth/.forms.py.swp
app/auth/.routes.py.swp
app/mcq/.forms.py.swp
app/mcq/.routes.py.swp
app/mcq/forms.pyc

