{% extends "base.html" %}

{% block title %} MCQ {% endblock %}

{% block stylesheets %}
table.lester {
  padding: 1px;
  background: #d3d3d3;
}
table.lester td {
  border: 5px solid #d3d3d3;
}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-8">
      <br>
      <p class="lead">
        Suppose that p is a pointer variable that contains the NULL pointer.
        What happens if your program tries to read or write *p?
      </p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-4">
      <table class="lester">
        <tr>
          <td><a href="#" class="btn btn-info btn-sm">&nbsp;1&nbsp;</a></td>
          <td><a href="#" class="btn btn-default btn-sm">&nbsp;2&nbsp;</a></td>
          <td><a href="#" class="btn btn-default btn-sm">&nbsp;3&nbsp;</a></td>
          <td><a href="#" class="btn btn-default btn-sm">&nbsp;4&nbsp;</a></td>
          <td><a href="#" class="btn btn-default btn-sm">&nbsp;5&nbsp;</a></td>
        </tr>
        <tr>
          <td><a href="#" class="btn btn-default btn-sm">&nbsp;6&nbsp;</a></td>
          <td><a href="#" class="btn btn-default btn-sm">&nbsp;7&nbsp;</a></td>
          <td><a href="#" class="btn btn-default btn-sm">&nbsp;8&nbsp;</a></td>
          <td><a href="#" class="btn btn-default btn-sm">&nbsp;9&nbsp;</a></td>
          <td><a href="#" class="btn btn-default btn-sm">10</a></td>
        </tr>
        {% for iterator in (10, 15, 20, 25, 30, 35, 40, 45) %}
        <tr>
          <td><a href="#" class="btn btn-default btn-sm">{{ 1 + iterator }}</a></td>
          <td><a href="#" class="btn btn-default btn-sm">{{ 2 + iterator }}</a></td>
          <td><a href="#" class="btn btn-default btn-sm">{{ 3 + iterator }}</a></td>
          <td><a href="#" class="btn btn-default btn-sm">{{ 4 + iterator }}</a></td>
          <td><a href="#" class="btn btn-default btn-sm">{{ 5 + iterator }}</a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
